<!DOCTYPE html>
<html>
<head>
  <title>Kulturystyka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <td><%= link_to 'Home', root_path , class: 'btn btn-primary btn-xl'%></td>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-9">
          <%= yield %>
        </div>
        <div class="col-xs-3">
          <h3></h3>
        </div>
      </div>
    </div>

  </body>
</html>
